
export(logitFD.fpc)
export(logitFD.fpc.step)
export(logitFD.pc)
export(logitFD.pc.step)
import(expm)
import(fda)
import(pROC)
import(fda.usc)
importFrom(graphics,plot)
importFrom(stats,binomial)
importFrom(stats,glm)
importFrom(stats,na.omit)
importFrom(stats,princomp)
importFrom(stats,step)
